<!--<mjs-card-->
<!--  *ngFor="let iteration of iterations!"-->
<!--  [title]="iterations ? iteration.tasks[iterations.length - 1].name : ''"-->
<!--&gt;-->
<!--  <div body class="flex flex-col gap-2">-->
<!--    <p class="text-content/50">-->
<!--      {{iterations ? iteration.tasks[iterations.length - 1].description : ''}}-->
<!--    </p>-->
<!--&lt;!&ndash;    <mjs-checkbox ></mjs-checkbox>&ndash;&gt;-->
<!--&lt;!&ndash;    <mjs-checkbox></mjs-checkbox>&ndash;&gt;-->
<!--  </div>-->
<!--  <div class="flex justify-between w-full" footer>-->
<!--    <div class="flex items-center gap-2">-->
<!--      <span class="material-icons text-primary">calendar_today</span>-->
<!--      <span class="text-content/50">{{iterations ?  (iteration.tasks[iterations.length - 1].createdAt | date: 'EEEE, MMMM d, y') : '' }}</span>-->
<!--    </div>-->
<!--    <div class="flex gap-2">-->
<!--      <span class="material-icons text-xl text-danger">favorite</span>-->
<!--      <span class="material-icons text-xl text-primary"-->
<!--      >local_fire_department</span>-->
<!--    </div>-->
<!--  </div>-->
<!--</mjs-card>-->

<mjs-card mjsRipple clickable background="bg-secondary" borderRadius="rounded-md">
  <mjs-card-header position="between">
    <div>
      <p class="font-bold">teste</p>
    </div>
    <div>
      <span class="material-icons text-primary">more_horiz</span>
    </div>
  </mjs-card-header>
  <mjs-card-body [maxHeight]="240">
    <mjs-button background="accent">teste</mjs-button>
  </mjs-card-body>
  <mjs-card-footer position="between">
    <div class="flex items-center gap-2">
      <p class="material-icons text-primary">calendar_today</p>
      <p> BOM DMS </p>
    </div>
    <div>
      <p class="material-icons text-xl text-danger">favorite</p>
      <p class="material-icons text-xl text-primary"
        >local_fire_department</p
      >
    </div>
  </mjs-card-footer>
</mjs-card>
